main{
    display: flex;
    justify-content: center;
    gap: 32px;
}
article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.article-image img {
    border-radius: 10px;
    max-width: 100%;
}

.article-info {
    margin-left: 20px;
    font-size: 16px;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.article-info>p{
    max-width: 500px;
    margin-bottom: 64px;
}


.article-info button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8bc34a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.article-info button:hover {
    background-color: #689f38;
}

@media screen and (max-width: 1000px) {
    .article {
        flex-direction: column;
        width: 100%;
        padding: 32px;
    }
    h3{
        text-align: center;
    }
    .article-info>button{
        margin-left: auto;
        margin-right: auto;
    }
}