main {
    margin-bottom: 780px;
}

.notre_equipe {
    color: black;
    font-size: 36px;
    text-align: center;
    font-family: "Lunasima", sans-serif;
    padding-bottom: 100px;
}

.equipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée trois colonnes égales */
    gap: 20px; /* Espace entre les éléments */
}
  
.membre {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    color: black;
}

.membre p {
    margin-top: 10px; /* Espacement entre le prénom et l'image */
}
  
.description_equipe {
    padding-top: 150px;
    color: black;
    font-family: "Lunasima", sans-serif;
    text-align: center;
}