main {
    margin-bottom: 780px;
}

.aventure {
    padding-top: 50px;
    color: black;
    text-align: center;
    padding-bottom: 150px;
}

.engagement {
    display: flex;
    align-items: center;
}

.description_engagement {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    color: black;
    font-family: "Lunasima", sans-serif;
}

.engagement img {
    padding-left: 200px;
    border-radius: 30px;
}

.apropos {
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.description_apropos {
    display: flex;
    flex-direction: column;
    padding-left: 100px; 
    color: black;
    font-family: "Lunasima", sans-serif;
}

.apropos img {
    padding-left: 100px;
    border-radius: 30px;
}

.services {
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.description_services {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    color: black;
    font-family: "Lunasima", sans-serif;
}

.services img {
    padding-left: 100px;
    border-radius: 30px;
}