 /* RESET NAVIGATEUR */

:root{
    --vert : #86B17B;
    --marron : #BB8F69;
    --foncé : #30412B;
    --claire : #FFFFFF;
}
body{
    margin: 0px;
    font-family:  'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns:1fr 11fr;
    grid-template-rows: 87px auto 300px;
    grid-template-areas: 
    "h h"
    "nav m"
    "nav f"
    ;
}
header{
    background-color: var(--marron);
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
      
}
.logo{
    width: 40px;
    height: 40px;
    margin-left: 32px;
}
header>a{
    margin-right: 32px;
}
h1{
 
   color: var(--claire);
   font-family: "Satisfy", cursive;
   font-size: 62px;  
   text-align: center;
   font-weight: lighter;
   
}

nav{
    background-color: var(--vert);
    grid-area: nav;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content:end;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 32px;
    font-size: 28px;
    gap: 130px;
   
}
nav>a:first-child{
    margin-bottom: 150px;
}


.button {
    background-color: var(--foncé);
    border: none;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 90px 120px;
  }
  .button4 {
    border-radius: 9px;
}
footer{
    background-color: var(--foncé);
    grid-area: f;
    display: flex;
    justify-content: space-around;
    color: var(--vert);
}
main{
    color:var(--claire);
    grid-area: m;
    min-height: 90vh;
}
.background{
    background-image: url(/img/fond.png);
    height: auto;
    background-size: cover;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;


}
.background>h2 {
    color: var(--foncé);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-left: 128px;
    max-width: 600px;

}


.cadre{
    display: flex;
    flex-direction: column;
    padding: 30px 80px  50px 80px;
    margin-top: 32px;
    background-color: var(--vert);
    color: var(--foncé);

}
.cadre>a{
    text-align: center;
    border-color: var(--foncé);
    border-style: solid ;
    font-weight: bold;
    color: var(--claire);
    padding: 10px;
}
a{
    text-decoration: none;
    color: var(--claire);
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.navigation>a{
    color: var(--vert);
}
footer>section:nth-child(2)>p{
    margin-top: 40px;
    text-align: center;
}
section>h3{
    margin-top: 32px;
}
.phone{
    display: none;
}


