/* Définition des variables */
:root {
    --vert: #86B17B;
    --marron: #BB8F69;
    --foncé: #30412B;
    --claire: #000000;
    --highlight: #F2E3D0;
}

/* Styles généraux */
body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 87px auto 300px;
    grid-template-areas: 
        "h h"
        "nav m"
        "nav f";
}

header {
    background-color: var(--marron);
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header > img {
    width: 40px;
    height: 40px;
}

header > a {
    margin-right: 20px;
}

h1 {
    color: var(--claire);
    font-family: "Satisfy", cursive;
    font-size: 48px;
    text-align: center;
    font-weight: lighter;
    margin: 0;
}

nav {
    background-color: var(--vert);
    grid-area: nav;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-around;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 20px;
    font-size: 24px;
}

footer {
    background-color: var(--foncé);
    grid-area: f;
    display: flex;
    justify-content: space-around;
    color: var(--vert);
    align-self: end;
    padding: 20px;
}

main {
    color: var(--claire);
    grid-area: m;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2 {
    color: var(--foncé);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.cadre {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--highlight);
    color: var(--foncé);
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.cadre > a {
    text-align: center;
    border: 2px solid var(--foncé);
    font-weight: bold;
    color: var(--marron);
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.cadre > a:hover {
    background-color: var(--foncé);
    color: var(--highlight);
}

a {
    text-decoration: none;
    color: var(--claire);
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.navigation > a {
    color: var(--vert);
}

footer > section:nth-child(2) > p {
    margin-top: 20px;
    text-align: center;
}

section > h3 {
    margin-top: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produit {
    position: relative;
    width: 220px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden; /* Pour cacher le dépassement lors du zoom */
}

.produit:hover {
    transform: scale(1.05); /* Zoom de 5% sur le survol */
}

.produit .prix {
    margin-top: auto;
    color: var(--marron);
    font-weight: bold;
    font-size: 18px;
}

.produit img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.produit h3 {
    font-size: 20px;
    margin: 0;
}

.avis {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.etoile {
    color: gold;
    font-size: 20px;
    margin: 0 2px;
}

.produit[data-rating="1"] .etoile:nth-child(n+2),
.produit[data-rating="2"] .etoile:nth-child(n+3),
.produit[data-rating="3"] .etoile:nth-child(n+4),
.produit[data-rating="4"] .etoile:nth-child(n+5),
.produit[data-rating="5"] .etoile {
    color: gold;
}
